<div id="inicio" class="wrapper">
  <p style="text-align:center; font-size: 42px; position: absolute; left: 100px; top: 150px;"><B>Siavi</B></p>
  <p style="text-align:center; font-size: 22px; position: absolute; left: 100px; top: 220px;">SISTEMA DE AGENDAMIENTO VIRTUAL</p>
  <p style="position: absolute; left: 45%; top: 50px;"><b>Siavi</b> te permite realizar las siguiente funciones:</p>
  <table style="text-align:center; position: absolute; left: 45%; top: 90px; width: 50%;">
      <tr>
          <td style="padding: 15px;">
              <p style="font-size: 18px; text-align: left"><img src="assets/images/vineta.jpg">&nbsp; &nbsp;RADICACIÓN</p>
              <p style="font-size: 16px; text-align: left; max-width: 200px">Permite realizar la radicación de los diferentes procesos atendidos por la oficina .....</p>
          </td>
          <td style="padding: 15px;">
              <p style="font-size: 18px; text-align: left"><img src="assets/images/vineta.jpg">&nbsp; &nbsp;CITACIONES</p>
              <p style="font-size: 16px; text-align: left; max-width: 200px">Permite realizar la citaciones de los diferentes procesos atendidos por la oficina .....</p>
          </td>
      </tr>
      <tr>
          <td style="padding: 15px;">
              <p style="font-size: 18px; text-align: left"><img src="assets/images/vineta.jpg">&nbsp; &nbsp;PROGRAMACIÓN</p>
              <p style="font-size: 16px; text-align: left; max-width:200px;">Permite realizar la programación de los diferentes procesos atendidos por la oficina .....</p>
          </td>
          <td style="padding: 15px;">
              <p style="font-size: 18px; text-align: left"><img src="assets/images/vineta.jpg">&nbsp; &nbsp;REPORTES</p>
              <p style="font-size: 16px; text-align: left; max-width: 200px;">Permite generar los reportes de los diferentes procesos atendidos por la oficina .....</p>
          </td>
      </tr>
  </table>
  <div class="hover"></div>
</div>
<mat-divider></mat-divider>
<br>
<div id="interes" ></div>
<div align="center">
  <br>    
  <p style="text-align:center; font-size: 34px;"><B>INFORMACIÓN DE </B>INTERÉS</p>
  <table style="border-spacing: 10px">
      <tr>
          <td>
                  <mat-card class="example-card">
                          <mat-card-header>
                              <div mat-card-avatar class="example-header-image"></div>
                              <mat-card-title>Shiba Inu</mat-card-title>
                              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                          </mat-card-header>
                          <img mat-card-image src="assets/images/alpujarra2.jpg" alt="Photo of a Shiba Inu">
                          <mat-card-content>
                              <p>
                              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                              bred for hunting.
                              </p>
                          </mat-card-content>
                          <mat-card-actions>
                              <button mat-button>Ver Detalle</button>
                              
                          </mat-card-actions>
                      </mat-card>                
          </td>
          <td>
                  <mat-card class="example-card">
                          <mat-card-header>
                              <div mat-card-avatar class="example-header-image"></div>
                              <mat-card-title>Shiba Inu</mat-card-title>
                              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                          </mat-card-header>
                          <img mat-card-image src="assets/images/alpujarra2.jpg" alt="Photo of a Shiba Inu">
                          <mat-card-content>
                              <p>
                              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                              bred for hunting.
                              </p>
                          </mat-card-content>
                          <mat-card-actions>
                              <button mat-button>Ver Detalle</button>
                              
                          </mat-card-actions>
                      </mat-card>                
          </td>
          <td>
                  <mat-card class="example-card">
                          <mat-card-header>
                              <div mat-card-avatar class="example-header-image"></div>
                              <mat-card-title>Shiba Inu</mat-card-title>
                              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                          </mat-card-header>
                          <img mat-card-image src="assets/images/alpujarra2.jpg" alt="Photo of a Shiba Inu">
                          <mat-card-content>
                              <p>
                              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                              bred for hunting.
                              </p>
                          </mat-card-content>
                          <mat-card-actions>
                              <button mat-button>Ver Detalle</button>
                              
                          </mat-card-actions>
                      </mat-card>                
          </td>
      </tr>
  </table>
</div>
<br>
<br>
<mat-divider></mat-divider>
<br>
<div id="info"></div>
<div style="color: #fff; background-color:#3F729B; height:600px;">
      <br>
      <br>
      <br>
      <p style="text-align:center; font-size: 42px;"><B>NUESTRA </B>VISIÓN</p>    
      <br>
      <p style="text-align:center; margin-left: 50px; margin-right: 50px;">
          Párrafo. Haz clic aquí para agregar tu propio texto y editar. Es fácil. Haz clic en Editar Texto o doble clic aquí para agregar tu contenido y cambiar la fuente. Puedes arrastrar y soltar este texto donde sea que quieras en tu página. Aquí puedes contar tu historia y permitir a tus usuarios saber más sobre ti.
      </p>
      <br>
      <p style="text-align:center; margin-left: 50px; margin-right: 50px;">
              Este es un buen espacio para extenderte sobre tu compañía y servicios. Puedes usar este espacio para incorporar más detalles sobre tu empresa. Escribe sobre tu personal y los servicios que ofreces. Cuéntales a los visitantes la historia sobre cómo se te ocurrió la idea de tu negocio y diles qué te diferencia de tus competidores. Haz que tu empresa se destaque y muestra a tus visitantes quién eres. Consejo: Agrega tu propia imagen haciendo clic en la imagen y luego en Cambiar Imagen.
      </p>
      <br>
      <p style="text-align:center; margin-left: 50px; margin-right: 50px;">
              Este es un buen espacio para extenderte sobre tu compañía y servicios. Puedes usar este espacio para incorporar más detalles sobre tu empresa. Escribe sobre tu personal y los servicios que ofreces. Cuéntales a los visitantes la historia sobre cómo se te ocurrió la idea de tu negocio y diles qué te diferencia de tus competidores. Haz que tu empresa se destaque y muestra a tus visitantes quién eres. Consejo: Agrega tu propia imagen haciendo clic en la imagen y luego en Cambiar Imagen.
      </p>
      <br>
      <p style="text-align:center; margin-left: 50px; margin-right: 50px;">
              Este es un buen espacio para extenderte sobre tu compañía y servicios. Puedes usar este espacio para incorporar más detalles sobre tu empresa. Escribe sobre tu personal y los servicios que ofreces. Cuéntales a los visitantes la historia sobre cómo se te ocurrió la idea de tu negocio y diles qué te diferencia de tus competidores. Haz que tu empresa se destaque y muestra a tus visitantes quién eres. Consejo: Agrega tu propia imagen haciendo clic en la imagen y luego en Cambiar Imagen.
      </p>
</div>